.container-depoimentos {
  width: 100%;
  background: #fff7f3;
  padding: 4rem 2rem;
  text-align: center;
  position: relative;

  .titulo-depoimentos {
    font-size: 2rem;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
    color: #1f1f1f;
    margin-bottom: 0.5rem;
    margin: 0px 0px 0px;

    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 8px;
      background: #241E4E;
      border-radius: 4px;
      margin: 0.5rem auto;
    }
  }

  .subtitulo {
    color: #374151;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-stretch: condensed;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .seta {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #b91c1c;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.15);
        color: #7f1d1d;
      }

      &.seta-esq {
        margin-right: 1rem;
      }

      &.seta-dir {
        margin-left: 1rem;
      }
    }

    .depoimentos-grid {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      overflow: hidden;

      .depo-card {
        background: #fff;
        border-radius: 16px;
        padding: 1.8rem;
        width: 270px;
        min-height: 230px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;   // ✅ centraliza todo o conteúdo
        display: flex;
        flex-direction: column;
        align-items: center;  // ✅ garante que nome e cidade fiquem no meio
        justify-content: flex-start;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 18px rgba(185, 28, 28, 0.15);
        }

        h2 {
          font-size: 1.6rem;
          font-weight: 700;
          color: #1f2937;
          margin-bottom: 0.3rem;
          font-family: 'Roboto', sans-serif;
          font-stretch: condensed;
        }

        h3 {
          font-size: 1rem;
          color: #b91c1c;
          margin-bottom: 1rem;
          font-family: 'Roboto', sans-serif;
        }

        p {
          font-size: 1.1rem;
          font-family: 'inter', sans-serif;
          color: #000000;
          line-height: 1.4;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .depoimentos-grid {
      flex-direction: column;
      align-items: center;

      .depo-card {
        width: 85%;
      }
    }
  }
}
