@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto&display=swap');

.cartaoDestaque {
    background-color: #DBE8FF;
    display: flex;
    gap: 12px;
    padding: 12px;
    height: 200px;
    width: 1110px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);

    img {
        width: 122px;
        height: 122px;
        border-radius: 12px;
        margin: 30px;
    }

    .info {
        color: rgb(0, 0, 0);

        p {
            font-size: 1.7rem;
            font-family: 'Roboto', sans-serif;
            margin-top: 20px;
        }
        h2 {
            padding: 0px;
            font-size: 36px;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }

}
.cartaoDestaque:hover {
    background-color: #cedbf0;
}

@media (max-width: 768px) {
  .cartaoDestaque {
    width: 100%;
    height: auto; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;

    img {
      width: 80px;
      height: 80px;
      margin: 0;
    }

    .info {
      text-align: center; 
      width: 100%;
      
      h2  {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      p {
        font-size: 16px;
        margin-top: 0;
        line-height: 1.4;
      }
    }
  }
}