.cabecalho2 {
    margin: 0px;
  width: 100%;
  background-color: #241E4E;
height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .cabecalho2-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cabecalho2-logo {
    height: 60px;
    cursor: pointer;
  }

  .cabecalho2-botao {
    font-family: 'Montserrat', sans-serif;
    background-color: #BF0603;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background-color: #830200;
      transform: scale(1.05);
    }
  }
}
