.login-container {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;

  h2 {
    text-align: center;
    color: #d90429;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    background-color: #fafafa;
    transition: 0.2s ease;

    &:focus {
      border-color: #ef233c;
      box-shadow: 0 0 4px rgba(239, 35, 60, 0.4);
      background-color: #fff;
    }
  }

  .erro {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 1.5rem;
    border: none;
    border-radius: 6px;
    background: #ef233c;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: #d90429;
    }
  }

  p {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 15px;
  }

  a {
    color: #ef233c;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
