.container-mitos {
  width: 100%;
  background: #fff7f3;
  padding: 4rem 2rem;
  text-align: center;

  .titulo-mitos {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 3rem;
    margin: 0px 0px 30px;
  }

  .mitos-grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;

    .mito-card {
      background: #fff;
      border-radius: 14px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
      width: 2060px;
      padding: 1.5rem;
      text-align: left;
      transition: all 0.3s ease;
      border: 1px solid #e5e7eb;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 20px rgba(185, 28, 28, 0.15);
      }

      .mito-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        .icon {
          width: 22px;
          height: 22px;

          &.mito {
            color: #b91c1c;
          }

          &.verdade {
            color: #16a34a;
          }
        }

        h2 {
          font-size: 1.3rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          color: #1f1f1f;
          margin: 0;
        }
      }

      p {
        font-size: 0.95rem;
        font-family: 'inter', sans-serif;
        color: #374151;
        line-height: 1.4;
        margin-bottom: 1rem;
      }

      hr {
        border: none;
        height: 1px;
        background: #e5e7eb;
        margin-bottom: 0.75rem;
      }

      span {
        font-size: 1rem;
        color: #4b5563;
        line-height: 1.4;
        font-family: 'Montserrat', sans-serif;
      }

      &.verdade {
        border: 1px solid #16a34a;

        h2 {
          color: #16a34a;

        }
      }
    }
  }

  @media (max-width: 768px) {
    .mitos-grid {
      flex-direction: column;
      align-items: center;

      .mito-card {
        width: 90%;
        max-width: 320px;
      }
    }
  }
}
