.partners-container {
  width: 100%;
  background: #f9f4ef;
  padding: 50px 0;
  text-align: center;

  h2 {
    color: #b30000;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 6px;
    margin: 0px 0px 6px;
    font-family: 'Montserrat', sans-serif;
  }

  .linha {
    width: 120px;
    height: 8px;
    background: #241E4E;
    border-radius: 100px;
    margin: 0 auto 40px auto;
  }

  .logos {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;

    img {
      max-height: 80px;
      width: auto;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* Responsivo */
@media (max-width: 900px) {
  .partners-container .logos {
    gap: 30px;
  }

  .partners-container img {
    max-height: 60px;
  }
}
