.admin-page {
  background-color: #f7efe6;
  min-height: 100vh;
  margin-top: 80px;
  font-family: 'Montserrat', sans-serif;
}

.conteudo-admin {
  padding: 20px;
}

.titulo-secao {
  color: #bb0a0c;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0 10px;
  border-bottom: 3px solid #bb0a0c;
  width: fit-content;
}

.card-box {
  width: 90%;
  max-width: 650px;
  background-color: #d9e7ff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 40px;
  border: 2px solid #a9bdda;
}

.card-top-info {
  background: white;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-space {
  height: 240px;
}

.linha-agendamento {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botoes-acoes {
  display: flex;
  gap: 8px;
}

.btn-autorizar {
  background-color: #ff4b00;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-negado {
  background-color: #e60000;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.area-voltar {
  margin-top: 30px;
}

.volta {
  background-color: #bb0a0c;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}
