.cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1220px;
  margin-top: 40px;
}

.layout {
  display: flex;
  flex-direction: column;
}

.page-main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
  flex: 1;
}

.inicio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin-left: 50px;
  padding-left: 40px;
  margin-top: 20px;
  align-items: center;
}

.texto-principal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titulo-principal {
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 64px;
  color: #000000;
  top: 50px;
  left: 50px;
  position: relative;
}

.titulo-principal::after {
  content: "";
  display: block;
  width: 400px;
  margin: 10px 10px 10px;
  height: 8px;
  background: #BF0603;
  border-radius: 10px;
}

.texto-principal p {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  margin: 0px 0px 0px;
}

.imagem-historia {
  width: 500px;
  height: auto;
  border-radius: 8px;
  margin-left: 10px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  body {
    margin-right: 0;
  }

  .page-main {
    padding: 15px;
    max-width: 768px;
    margin-top: 40px;
  }

  .inicio {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 0;
  }

  .texto-principal {
    width: 100%;
  }

  .titulo-principal {
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 40px;
    position: static;
  }

  .titulo-principal::after {
    width: 180px;
    height: 6px;
    margin: 10px 0;
  }

  .texto-principal p {
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
  }

  .imagem-historia {
    display: none;
  }

  .cartoes {
    width: 100%;
    margin-top: 30px;
    gap: 15px;
  }
}